# Core Machine Learning & Audio
torch>=1.12.0
numpy>=1.20.0
soundfile>=0.10.0
librosa>=0.9.0
soxr>=0.3.0
scipy
torchaudio
python_speech_features

# Model Backbones & Advanced Processing
einops
einops_exts
torchiva

# Configurations & Logging
pyyaml
dotmap
hyperpyyaml
tqdm
huggingface_hub
gin-config
transformers

# Speech Metric Evaluation
pesq
pystoi
torchmetrics
jiwer
pandas
matplotlib
